* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    font-weight: 500;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #fff;
    color: #fff;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-size: 2rem;
}

header {
    background-color: #252525;
    margin-bottom: 20rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10rem;
}

.block {
    width: 80rem;
    height: 60rem;
    box-shadow: 4px 4px 34px -7px rgba(0, 0, 0, 0.75);
    margin-bottom: 5rem;
    color: #252525;
    font-size: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(10rem);
    opacity: 0;
}

.k2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.l8 {
    transform: translateY(-10rem);
    opacity: 1;
    transition: all 1s ease-in-out;
}
